.background {
  viewport-fill: black;
}

.debug-fill {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #787878;
}

text {
  font-family: SevilleSharp;
  fill: #FBFBFB;
}

#gf-index-section {
  x: 244;
  y: 54;
  width: 58;
}

#gf-label {
  x: 6;
  y: 0;
  height: 24;
  font-size: 20;
  text-anchor: middle;
  fill: #FBFBFB;
}

#gf-stock-label {
  x: 2;
  y: 20;
  height: 20;
  font-size: 14;
  text-anchor: end;
  fill: #FBFBFB;
}

#gf-crypto-label {
  x: 12;
  y: 20;
  height: 20;
  font-size: 14;
  text-anchor: start;
  fill: #FBFBFB;
}

#gf-stock-value {
  x: -8;
  y: 46;
  height: 24;
  font-size: 20;
  text-anchor: end;
  fill: #FBFBFB;
}

#gf-crypto-value {
  x: 42;
  y: 46;
  height: 24;
  font-size: 20;
  text-anchor: end;
  fill: #FBFBFB;
}

#refresh-section {
  x: 200;
  y: 40;
  width: 102;
  height: 64;
}
#refresh-section rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
/*   fill: #787878; */
  fill: #46BCDE;
}
#refresh-section text {
  x: 50%;
  y: 40;
  height: 24;
  font-size: 22;
  text-anchor: middle;
  fill: #FBFBFB;
}

#date-section {
  y: 30;
  x: 0;
}

#time {
  font-family: Seville;
  font-size: 40;
  text-length: 10;
  y: 70;
  fill: #FBFBFB;
}

#date {
  font-family: Seville;
  font-size: 30;
  text-length: 32;
  y: 30;
  fill: #FFFFFF;
}

/* Generic, need positioning */
.divider {
  width: 222;
  height: 1;
  fill: #646464;
}

#data {
  x: 0;
  width: 100%;
  y: 50%-50;
  height: 195;
}

.data-row {
  x: 0;
  width: 100%;
  height: 26;
}

.data-row text {
  font-family: SevilleSharp;
  font-size: 26;
  text-length: 16;
  fill: #FBFBFB;
}

#data-row1 {
  y: 0;
}
#data-row2 {
  y: 30;
}
#data-row3 {
  y: 60;
}
#data-row4 {
  y: 90;
}
#data-row5 {
  y: 120;
}
#data-row6 {
  y: 150;
}

.ticker-name {
  x: 0;
}

.ticker-price {
  x: 200;
  text-anchor: end;
}

.ticker-change {
  x: 100%;
  text-anchor: end;
}

.hrm-symbol-image {
  width: 24;
  height: 24;
/*   y: 15; */
}

#hrm-section {
/*   x: 210; */
/*   y: 50; */
  x: 110;
  y: 78;
}

/* Our reference to entire icon symbol node */
#hrm-icon {
  x: 1;
  fill: #FF214A;
  width: 24;
  height: 24;
}

#hrm-text {
  x: 31;
  y: 22;
}

#last-update {
  y: 100%-10;
  x: 50%;
  text-anchor: middle;
  font-size: 18;
}
